body {
  margin: 0;
  padding: 0;
}
.color-circle {
  border-top: 2px solid #eeeeee;
}
.color-circle-btn {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.color-circle-btn .btn-item {
  width: 5rem;
  height: 5rem;
  position: relative;
}
.color-circle-btn .btn-item > span {
  position: absolute;
  width: 7rem;
  bottom: -2rem;
  text-align: center;
  left:-1rem;
}
.color-circle-btn .btn-item > .item-lang {
  width: 10rem;
  left: -2.5rem;
}
.color-circle-component {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 5rem;
  flex-direction: column;
  align-items: center;
}
.color-circle-component .color-bg {
  width: 2rem;
  height: 2rem;
  margin-bottom: 2rem;
}
.color-circle-component .saturation {
  width: 5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}