body, html {
  margin: 0;
  padding: 0;
  font-size: 12px;
  background-color: #eaebed;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}
rect {
  fill-opacity: 0;
}
circle
{
  /*transform:rotate(-90deg);*/
  /*-ms-transform:rotate(-90deg); 	!* IE 9 *!*/
  /*-moz-transform:rotate(-90deg); 	!* Firefox *!*/
  /*-webkit-transform:rotate(-90deg); !* Safari 和 Chrome *!*/
  /*-o-transform:rotate(-90deg); 	!* Opera *!*/
}
.color-circle {
  border-top: 2px solid #eeeeee;
}
.color-circle-btn {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.color-circle-btn .btn-item {
  width: 4rem;
  height: 4rem;
  position: relative;
}
.color-circle-btn .btn-item > span {
  position: absolute;
  width: 7rem;
  bottom: -1.5rem;
  text-align: center;
  left:-1.5rem;
}
.color-circle-btn .btn-item > .item-lang {
  width: 10rem;
  left: -3rem;
}
.color-circle-component {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 4rem;
  flex-direction: column;
  align-items: center;
}
.color-circle-component .color-bg {
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
}
.color-circle-component .saturation {
  width: 5rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-align: center;
}

.debugger {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 78px;
  border-top: 1px solid #ddd;

}
p {
  line-height: 0.5;
}
